.tab_home {
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}
.tab_home a {
    color: #808080;
    text-decoration: none;
}
.tab_home a:hover {
    color: #D71E1E;
    text-decoration: none;
}

.tabs, .tabs2, .tabs3 {
    /* background-image: url('tab_b.png'); */
    background: #c0504d;
    width: 90%;
    z-index: 101;
    font-size: 16px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    padding-left: 10%;
}

.tabs2 {
    font-size: 12px;
}
.tabs3 {
    font-size: 10px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    /* background-image: url('tab_b.png'); */
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    /* padding: 0 20px; */
    padding: 6px 20px 6px 20px;
    /* background-image:url('tab_s.png');
    font-weight: bold;
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D; */
    color: rgba(255, 255, 255, 0.9);
    /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9); */
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    /* background-image: url('tab_h.png');
    background-repeat:repeat-x; */
    background: #E23232;
    color: #fff;
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0); */
    text-decoration: none;
}

.tablist li.current a {
    color: #ffffff;
    background: #E23232;
    /* background-image: url('tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    */
}
