/*  print.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* content styles */

html {
  font-family: Times, serif;
  font-size: 12pt;
}

body {
  /* Give about 3.4cm in Mozilla/Firefox and about 2.2cm in Safari */
  margin: 1.5cm;
}

a, a:visited, a.nonexistent, a.badinterwiki {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.info a {
  color: gray;
}

pre {
  font-size: 10pt;
}

a.interwiki:before, a.badinterwiki:before {
  content: attr(title) ":";
}

a.interwiki img, a.badinterwiki img {
  display: none;
}

.footnotes div {
  width: 5em;
  border-top: 1pt solid gray;
}

/* user interface styles */

#header, #sidebar, #footer, #timings, #credits, #interwiki, #pagelocation {
  display: none;
}
