body	{ min-width: 800px; font: serif; margin-left: 2em; margin-right: 2em; margin-bottom: 2em }
p,div	{ text-indent: 1em; text-align: justify; /*margin-bottom: 0.5cm;*/ }
ol,ul	{ text-indent: 0 }
.names	{ font-family: sans-serif; font-variant: small-caps }
hr	{ border-width: 0; height: 1px; color: gray; background-color: gray }
div.nav	{ background-color: rgb(245,240,235) }
table.nav	{ font-size: 200%; text-indent: 0; vertical-align: bottom; border: solid 1px gray; margin-top: 0; margin-bottom: 0; top: 0; bottom: 0 }
a#navtop	{ text-decoration: none }
table.symbol	{ width: 100%; border-collapse: collapse; border-spacing: 0; border-style: hidden; text-indent: 0 }
table.symbol td:nth-of-type(1) { width: 15%; font-family: monospace; border-bottom: 1px solid gray; vertical-align: baseline; padding: 4px }
table.symbol td:nth-of-type(2) { font-family: serif; border-bottom: 1px solid gray }
table.params	{ width: 100%; border-collapse: collapse; border-spacing: 0; border-style: hidden; text-indent: 0 }
table.params td:nth-of-type(1) { width: 15%; font-family: monospace; font-style: italic; border-bottom: 1px solid gray; vertical-align: baseline; padding: 4px }
table.params td:nth-of-type(2) { width: 5%; font-family: serif; font-style: italic; border-bottom: 1px solid gray; vertical-align: baseline; }
table.params td:nth-of-type(3) { border-bottom: 1px solid gray }
table.sigma	{ width:50%; border-collapse: collapse; border-spacing: 0; border-style: hidden; text-indent: 0; font-style: normal }
table.sigma td:nth-of-type(1) { width: 25%; font-family: serif; border-bottom: 1px solid gray; vertical-align: baseline; padding: 4px; font-family: serif; font-style: normal }
table.sigma td:nth-of-type(2) { width:25%; font-family: serif; border-bottom: 1px solid gray }
