/* font face requires Genivia Website fonts */
@font-face {
	font-family: 'inconsolatamedium';
	src: url('../../fonts/inconsolata-webfont.eot');
	src: url('../../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/inconsolata-webfont.woff') format('woff'), url('../../fonts/inconsolata-webfont.ttf') format('truetype'), url('../../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
	font-weight: normal;
	font-style: normal;
}   

#titlearea
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 0px;
}

div.textblock {
	margin-left: 10%;
	margin-right: 10%;
}

a.el {
	font-weight: normal;
}

pre {
	font-family: inconsolatamedium, monospace, serif !important;
	font-size: 1em !important;
}

code {
	display: inline-block;
	background-color: #ffe;
	font-family: inconsolatamedium, monospace, serif !important;
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

em code {
	background-color: #FAFAFA;
        font-style: normal;
}

b code {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 25%);                                
        font-style: normal;
	font-weight: normal;
}

td code {
	border: none;
	padding: 0px;
}

div.header {
	visibility: hidden;
}

div.toc {
        padding: 14px 25px;
        background: #fafafa;
        border: 1px solid rgba(38, 91, 142, 0.5);
        border-radius: 7px 7px 7px 7px;
        float: right;
        height: auto;
        margin: 0px 20px 10px 10px;
        width: 200px;
}

div.toc h3 {
	visibility: hidden;
}

div.alt div.fragment {
	border: 1px solid rgba(38, 91, 142, 0.5);
	border-left: 10px solid #000;
	background-color: #FAFAFA;
	padding-left: 0px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 0px;
	font: 100 1em;
        line-height: normal;
	overflow: auto;
}

div.fragment {
	border: 1px solid rgba(38, 91, 142, 0.5);
	border-left: 10px solid #c0504d;
	background-color: #ffe;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 0px;
	font: 100 1em;
        line-height: normal;
	overflow: auto;
}

div.line {
        line-height: normal;
}

span.lineno {
	display: none;
}

pre.fragment {
	border: 0px;
	background-color: hsl(0, 0%, 25%);                                
	color: hsl(0, 0%, 100%);
	padding: 6px;
	margin-left: 0px;
	font: 100 1em;
        line-height: normal;
	overflow: auto;
	white-space: pre;
}

table.doxtable {
	border-collapse: collapse;
        margin-top: 4px;
        margin-bottom: 4px;
	margin-left: 0px;
	background-color: #ffe;
}

table.doxtable th {
	background-color: #c0504d;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}

.navpath ul
{
	font-size: 11px;
	color: rgba(255, 255, 255, 0.9);
	background: #c0504d;
	border: 1px solid #ddd;
	margin:0px;
	padding:0px;
}

.navpath li
{
	list-style-type:none;
	float:left;
	padding-left:10px;
	padding-right:15px;
	background: #c0504d;
	color: rgba(255, 255, 255, 0.9);
}

.navpath li.navelem a
{
	height:32px;
	display:block;
	text-decoration: none;
	outline: none;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: none;
	text-decoration: none;        
}

.navpath li.navelem a:hover
{
	background: #E23232;
	color: #fff;
}

